## Revision y limpieza dataset

- Leer el dataset
- Analizar las features/descriptores
- Limpieza de tipos de datos
- Evaluar nulos
- Evaluar outliers

In [1]:
import pandas as pd

In [2]:
df_data = pd.read_excel("../raw_data/Basal.xlsx")
df_data

,Unnamed: 0,Unnamed: 1,redcap_repeat_instrument,sex,age,t2m_pre_mean_rr,t2m_pre_rmssd,t2m_pre_sd1,t2m_pre_pns,t2m_pre_mean_hr,...,t2m_pre_lf,t2m_pre_vlf,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,height mt,imc
0,NaN,NaN,NaN,1.0,75.0,74.8,21.7,274.00,-140.00,80,...,713,172,108,70,82.666667,38,70.0,160,1.60,27.343750
1,NaN,NaN,NaN,1.0,66.0,95.3,18.8,285.00,-54.00,63,...,226,29,122,72,88.666667,50,52.0,149,1.49,23.422368
2,NaN,NaN,NaN,2.0,77.0,87.7,11.7,303.00,-105.00,68,...,137,9,125,85,98.333333,40,81.0,170,1.70,28.027682
3,NaN,NaN,NaN,1.0,77.0,81.9,17.5,376.00,-106.00,73,...,130,14,126,72,90.000000,54,85.0,160,1.60,33.203125
4,NaN,NaN,NaN,1.0,73.0,84.6,13.6,295.00,-115.00,71,...,66,18,130,80,96.666667,50,69.0,151,1.51,30.261831
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
526,NaN,NaN,NaN,2.0,67.0,790.0,16.9,NaN,-1.28,76,...,196,88,134,87,102.666667,47,68.1,154,1.54,28.714792
527,NaN,NaN,NaN,2.0,77.0,814.0,23.8,NaN,-0.98,74,...,261,39,141,80,100.333333,61,67.1,152,1.52,29.042590
528,NaN,NaN,NaN,2.0,61.0,912.0,16.6,NaN,-0.78,66,...,301,27,106,58,74.000000,48,58.4,162,1.62,22.252705
529,NaN,NaN,NaN,2.0,69.0,1016.0,16.9,NaN,-0.25,59,...,189,16,111,72,85.000000,39,80.6,180,1.80,24.876543
530,NaN,NaN,NaN,NaN,NaN,46.8,0.5,5.59,-307.00,46,...,2,1,80,52,66.000000,16,47.0,130,1.30,NaN

In [3]:
df_data.shape

(531, 25)

In [7]:
df_data.drop(columns=['Unnamed: 0', 'Unnamed: 1', 'redcap_repeat_instrument'], inplace=True)

In [8]:
df_data.head(5)

,sex,age,t2m_pre_mean_rr,t2m_pre_rmssd,t2m_pre_sd1,t2m_pre_pns,t2m_pre_mean_hr,t2m_pre_stress,t2m_pre_sd2,t2m_pre_sns,...,t2m_pre_lf,t2m_pre_vlf,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,height mt,imc
0,1.0,75.0,74.8,21.7,274.0,-140.0,80,149.0,726.0,184.0,...,713,172,108,70,82.666667,38,70.0,160,1.60,27.343750
1,1.0,66.0,95.3,18.8,285.0,-54.0,63,145.0,715.0,68.0,...,226,29,122,72,88.666667,50,52.0,149,1.49,23.422368
2,2.0,77.0,87.7,11.7,303.0,-105.0,68,258.0,697.0,276.0,...,137,9,125,85,98.333333,40,81.0,170,1.70,28.027682
3,1.0,77.0,81.9,17.5,376.0,-106.0,73,249.0,624.0,283.0,...,130,14,126,72,90.000000,54,85.0,160,1.60,33.203125
4,1.0,73.0,84.6,13.6,295.0,-115.0,71,166.0,705.0,149.0,...,66,18,130,80,96.666667,50,69.0,151,1.51,30.261831

In [9]:
df_data.columns

Index(['sex', 'age', 't2m_pre_mean_rr', 't2m_pre_rmssd', 't2m_pre_sd1',
       't2m_pre_pns', 't2m_pre_mean_hr', 't2m_pre_stress', 't2m_pre_sd2',
       't2m_pre_sns', 't2m_pre_sdnn', 't2m_pre_hf', 't2m_pre_lf',
       't2m_pre_vlf', 'bp_systolic', 'bp_diastolic', 'bp_pam', 'bp_pp',
       'weight kg', 'height cm', 'height mt', 'imc'],
      dtype='object')

In [10]:
df_data = df_data[['sex', 'age', 't2m_pre_sdnn', 'bp_systolic', 'bp_diastolic', 'bp_pam', 'bp_pp',
       'weight kg', 'height cm', 'height mt', 'imc']]

In [11]:
df_data

,sex,age,t2m_pre_sdnn,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,height mt,imc
0,1.0,75.0,308.0,108,70,82.666667,38,70.0,160,1.60,27.343750
1,1.0,66.0,255.0,122,72,88.666667,50,52.0,149,1.49,23.422368
2,2.0,77.0,147.0,125,85,98.333333,40,81.0,170,1.70,28.027682
3,1.0,77.0,170.0,126,72,90.000000,54,85.0,160,1.60,33.203125
4,1.0,73.0,176.0,130,80,96.666667,50,69.0,151,1.51,30.261831
...,...,...,...,...,...,...,...,...,...,...,...
526,2.0,67.0,20.0,134,87,102.666667,47,68.1,154,1.54,28.714792
527,2.0,77.0,26.7,141,80,100.333333,61,67.1,152,1.52,29.042590
528,2.0,61.0,22.4,106,58,74.000000,48,58.4,162,1.62,22.252705
529,2.0,69.0,18.9,111,72,85.000000,39,80.6,180,1.80,24.876543
530,NaN,NaN,4.8,80,52,66.000000,16,47.0,130,1.30,NaN

In [12]:
df_data = df_data[:-1]
df_data

,sex,age,t2m_pre_sdnn,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,height mt,imc
0,1.0,75.0,308.0,108,70,82.666667,38,70.0,160,1.60,27.343750
1,1.0,66.0,255.0,122,72,88.666667,50,52.0,149,1.49,23.422368
2,2.0,77.0,147.0,125,85,98.333333,40,81.0,170,1.70,28.027682
3,1.0,77.0,170.0,126,72,90.000000,54,85.0,160,1.60,33.203125
4,1.0,73.0,176.0,130,80,96.666667,50,69.0,151,1.51,30.261831
...,...,...,...,...,...,...,...,...,...,...,...
525,1.0,80.0,6.5,152,82,105.333333,70,80.9,167,1.67,29.007853
526,2.0,67.0,20.0,134,87,102.666667,47,68.1,154,1.54,28.714792
527,2.0,77.0,26.7,141,80,100.333333,61,67.1,152,1.52,29.042590
528,2.0,61.0,22.4,106,58,74.000000,48,58.4,162,1.62,22.252705
529,2.0,69.0,18.9,111,72,85.000000,39,80.6,180,1.80,24.876543

In [13]:
df_data.dtypes

sex             float64
age             float64
t2m_pre_sdnn    float64
bp_systolic       int64
bp_diastolic      int64
bp_pam          float64
bp_pp             int64
weight kg       float64
height cm         int64
height mt       float64
imc             float64
dtype: object

In [14]:
df_data["check_height"] = (df_data["height cm"] == df_data["height mt"]*100).astype(int)
df_data["check_height"].value_counts()

/tmp/ipykernel_13239/642837375.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_data["check_height"] = (df_data["height cm"] == df_data["height mt"]*100).astype(int)

check_height
1    521
0      9
Name: count, dtype: int64

In [15]:
df_data[df_data["check_height"] == 0]

,sex,age,t2m_pre_sdnn,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,height mt,imc,check_height
444,1.0,74.0,10.3,132,73,92.666667,59,67.0,148,1.51,29.384676,0
445,2.0,71.0,10.6,133,90,104.333333,43,65.2,175,1.51,28.595237,0
446,1.0,89.0,14.5,145,79,101.000000,66,69.8,145,1.51,30.612692,0
447,1.0,70.0,9.9,117,58,77.666667,59,68.2,148,1.51,29.910969,0
448,1.0,74.0,16.4,117,70,85.666667,47,68.2,150,1.51,29.910969,0
449,1.0,71.0,14.3,152,85,107.333333,67,74.1,155,1.51,32.498575,0
450,1.0,81.0,8.7,137,85,102.333333,52,64.9,149,1.51,28.463664,0
451,1.0,83.0,8.7,142,80,100.666667,62,59.7,149,1.51,26.183062,0
452,1.0,71.0,6.5,104,66,78.666667,38,78.1,155,1.51,34.252884,0

In [20]:
df_data["imc_2"] = df_data["weight kg"]/(df_data["height cm"]/100*df_data["height cm"]/100)
df_data = df_data.round(decimals=3)

df_data["check_imc"] = (df_data["imc"] == df_data["imc_2"]).astype(int)
df_data["check_imc"].value_counts()

check_imc
1    518
0     12
Name: count, dtype: int64

In [21]:
df_data[df_data["check_imc"] == 0]

,sex,age,t2m_pre_sdnn,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,height mt,imc,check_height,check_imc,imc_2
161,1.0,66.0,91.0,149,89,109.000,60,76.0,160,1.60,29.687,1,0,29.688
172,1.0,72.0,95.0,103,69,80.333,34,76.0,160,1.60,29.687,1,0,29.688
201,2.0,79.0,171.0,108,70,82.667,38,92.0,160,1.60,35.937,1,0,35.938
444,1.0,74.0,10.3,132,73,92.667,59,67.0,148,1.51,29.385,0,0,30.588
445,2.0,71.0,10.6,133,90,104.333,43,65.2,175,1.51,28.595,0,0,21.290
446,1.0,89.0,14.5,145,79,101.000,66,69.8,145,1.51,30.613,0,0,33.199
447,1.0,70.0,9.9,117,58,77.667,59,68.2,148,1.51,29.911,0,0,31.136
448,1.0,74.0,16.4,117,70,85.667,47,68.2,150,1.51,29.911,0,0,30.311
449,1.0,71.0,14.3,152,85,107.333,67,74.1,155,1.51,32.499,0,0,30.843
450,1.0,81.0,8.7,137,85,102.333,52,64.9,149,1.51,28.464,0,0,29.233
451,1.0,83.0,8.7,142,80,100.667,62,59.7,149,1.51,26.183,0,0,26.891
452,1.0,71.0,6.5,104,66,78.667,38,78.1,155,1.51,34.253,0,0,32.508

In [22]:
df_data = df_data[df_data["check_height"] == 1]
df_data.shape

(521, 14)

In [23]:
df_data.to_csv("../results/1_check_raw_data.csv", index=False)