In [1]:
import pandas as pd

In [2]:
df_data = pd.read_csv("../results/3_scaler_demo.csv")
df_data

,age,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,imc_2,sex,is_isolated,is_lof,response
0,0.842697,0.532020,0.608696,0.609338,0.376238,0.583333,0.888889,0.479089,1.0,1,1,308.0
1,0.741573,0.600985,0.626087,0.653564,0.495050,0.433333,0.827778,0.410372,1.0,1,1,255.0
2,0.865169,0.615764,0.739130,0.724811,0.396040,0.675000,0.944444,0.491073,2.0,1,1,147.0
3,0.865169,0.620690,0.626087,0.663389,0.534653,0.708333,0.888889,0.581743,1.0,1,1,170.0
4,0.820225,0.640394,0.695652,0.712531,0.495050,0.575000,0.838889,0.530215,1.0,1,1,176.0
...,...,...,...,...,...,...,...,...,...,...,...,...
505,0.898876,0.748768,0.713043,0.776408,0.693069,0.674167,0.927778,0.508244,1.0,1,1,6.5
506,0.752809,0.660099,0.756522,0.756757,0.465347,0.567500,0.855556,0.503110,2.0,1,1,20.0
507,0.865169,0.694581,0.695652,0.739553,0.603960,0.559167,0.844444,0.508857,2.0,1,1,26.7
508,0.685393,0.522167,0.504348,0.545453,0.475248,0.486667,0.900000,0.389890,2.0,-1,1,22.4
509,0.775281,0.546798,0.626087,0.626534,0.386139,0.671667,1.000000,0.435865,2.0,1,1,18.9

In [3]:
df_data["sex"].value_counts()

sex
1.0    352
2.0    158
Name: count, dtype: int64

In [5]:
matrix_data = []

for index in df_data.index:
    sex_value = int(df_data["sex"][index])

    row = [0,0]
    row[sex_value-1] = 1
    matrix_data.append(row)

df_one_hot = pd.DataFrame(data=matrix_data, columns=["sex_F", "sex_M"])
df_one_hot

     sex_F  sex_M
0        1      0
1        1      0
2        0      1
3        1      0
4        1      0
..     ...    ...
505      1      0
506      0      1
507      0      1
508      0      1
509      0      1

[510 rows x 2 columns]

In [6]:
df_concat = pd.concat([df_data, df_one_hot], axis=1)
df_concat

,age,bp_systolic,bp_diastolic,bp_pam,bp_pp,weight kg,height cm,imc_2,sex,is_isolated,is_lof,response,sex_F,sex_M
0,0.842697,0.532020,0.608696,0.609338,0.376238,0.583333,0.888889,0.479089,1.0,1,1,308.0,1,0
1,0.741573,0.600985,0.626087,0.653564,0.495050,0.433333,0.827778,0.410372,1.0,1,1,255.0,1,0
2,0.865169,0.615764,0.739130,0.724811,0.396040,0.675000,0.944444,0.491073,2.0,1,1,147.0,0,1
3,0.865169,0.620690,0.626087,0.663389,0.534653,0.708333,0.888889,0.581743,1.0,1,1,170.0,1,0
4,0.820225,0.640394,0.695652,0.712531,0.495050,0.575000,0.838889,0.530215,1.0,1,1,176.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
505,0.898876,0.748768,0.713043,0.776408,0.693069,0.674167,0.927778,0.508244,1.0,1,1,6.5,1,0
506,0.752809,0.660099,0.756522,0.756757,0.465347,0.567500,0.855556,0.503110,2.0,1,1,20.0,0,1
507,0.865169,0.694581,0.695652,0.739553,0.603960,0.559167,0.844444,0.508857,2.0,1,1,26.7,0,1
508,0.685393,0.522167,0.504348,0.545453,0.475248,0.486667,0.900000,0.389890,2.0,-1,1,22.4,0,1
509,0.775281,0.546798,0.626087,0.626534,0.386139,0.671667,1.000000,0.435865,2.0,1,1,18.9,0,1

In [7]:
df_concat = df_concat.drop(columns=["sex"])
df_concat.to_csv("../results/4_one_hot.csv", index=False)